In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, lit, col

spark = SparkSession.builder.appName('EX').getOrCreate()

# Create a spark dataframe
columns = ["Name", "Course_Name",
           "Months",
           "Course_Fees", "Discount",
           "Start_Date", "Payment_Done"]
data = [
    ("Amit Pathak", "Python", 3,
     10000, 1000, "02-07-2021", True),
    ("Shikhar Mishra", "Soft skills",
     2, 8000, 800, "07-10-2021", False),
    ("Shivani Suvarna", "Accounting", 6,
     15000, 1500, "20-08-2021", True),
    ("Pooja Jain", "Data Science", 12,
     60000, 900, "02-12-2021", False),
]

df = spark.createDataFrame(data).toDF(*columns)

df.show()

df.withColumn('Status', lit(0)).show()



df.withColumn(
        "Great_Discount", when(col("Discount") >= 1000, lit(
            "Yes")).otherwise(lit("No"))).show()


df.createOrReplaceTempView('table')
newDF = spark.sql('select *, 1 as newCol from table')
newDF.show()

+---------------+------------+------+-----------+--------+----------+------------+
|           Name| Course_Name|Months|Course_Fees|Discount|Start_Date|Payment_Done|
+---------------+------------+------+-----------+--------+----------+------------+
|    Amit Pathak|      Python|     3|      10000|    1000|02-07-2021|        true|
| Shikhar Mishra| Soft skills|     2|       8000|     800|07-10-2021|       false|
|Shivani Suvarna|  Accounting|     6|      15000|    1500|20-08-2021|        true|
|     Pooja Jain|Data Science|    12|      60000|     900|02-12-2021|       false|
+---------------+------------+------+-----------+--------+----------+------------+

+---------------+------------+------+-----------+--------+----------+------------+------+
|           Name| Course_Name|Months|Course_Fees|Discount|Start_Date|Payment_Done|Status|
+---------------+------------+------+-----------+--------+----------+------------+------+
|    Amit Pathak|      Python|     3|      10000|    1000|02-07-2021|        true|     0|
| Shikhar Mishra| Soft skills|     2|       8000|     800|07-10-2021|       false|     0|
|Shivani Suvarna|  Accounting|     6|      15000|    1500|20-08-2021|        true|     0|
|     Pooja Jain|Data Science|    12|      60000|     900|02-12-2021|       false|     0|
+---------------+------------+------+-----------+--------+----------+------------+------+

+---------------+------------+------+-----------+--------+----------+------------+--------------+
|           Name| Course_Name|Months|Course_Fees|Discount|Start_Date|Payment_Done|Great_Discount|
+---------------+------------+------+-----------+--------+----------+------------+--------------+
|    Amit Pathak|      Python|     3|      10000|    1000|02-07-2021|        true|           Yes|
| Shikhar Mishra| Soft skills|     2|       8000|     800|07-10-2021|       false|            No|
|Shivani Suvarna|  Accounting|     6|      15000|    1500|20-08-2021|        true|           Yes|
|     Pooja Jain|Data Science|    12|      60000|     900|02-12-2021|       false|            No|
+---------------+------------+------+-----------+--------+----------+------------+--------------+

+---------------+------------+------+-----------+--------+----------+------------+------+
|           Name| Course_Name|Months|Course_Fees|Discount|Start_Date|Payment_Done|newCol|
+---------------+------------+------+-----------+--------+----------+------------+------+
|    Amit Pathak|      Python|     3|      10000|    1000|02-07-2021|        true|     1|
| Shikhar Mishra| Soft skills|     2|       8000|     800|07-10-2021|       false|     1|
|Shivani Suvarna|  Accounting|     6|      15000|    1500|20-08-2021|        true|     1|
|     Pooja Jain|Data Science|    12|      60000|     900|02-12-2021|       false|     1|
+---------------+------------+------+-----------+--------+----------+------------+------+