In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('create a PySpark dataframe from multiple lists 01').getOrCreate()

# list  of college data with dictionary
# with two lists in three elements each
data = [1, 2, 3]
data1 = ["sravan", "bobby", "ojaswi"]

# specify column names
columns = ['ID', 'NAME']

df = spark.createDataFrame(zip(data,data1), columns)

df.show()

25/12/03 15:55:25 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
[Stage 0:>                                                          (0 + 1) / 1]

+---+------+
| ID|  NAME|
+---+------+
|  1|sravan|
|  2| bobby|
|  3|ojaswi|
+---+------+

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('create a PySpark dataframe from multiple lists 01').getOrCreate()

# list  of college data with dictionary
# with two lists in three elements each
data = [1, 2, 3]
data1 = ["sravan", "bobby", "ojaswi"]
data2 = ["iit-k", "iit-mumbai", "vignan university"]
data3 = ["AP", "TS", "UP"]

# specify column names
columns = ['ID', 'NAME', 'COLLEGE', 'ADDRESS']

df = spark.createDataFrame(zip(data,data1,data2,data3), columns)

df.show()

+---+------+-----------------+-------+
| ID|  NAME|          COLLEGE|ADDRESS|
+---+------+-----------------+-------+
|  1|sravan|            iit-k|     AP|
|  2| bobby|       iit-mumbai|     TS|
|  3|ojaswi|vignan university|     UP|
+---+------+-----------------+-------+