In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate() # Init SparkSession

d = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"], 
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"], 
        ["5", "bobby", "company 1"]]

cols = ['ID', 'Name', 'Company']
df = spark.createDataFrame(d, cols)
df.show()

25/12/04 08:36:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
[Stage 0:>                                                          (0 + 1) / 1]

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate() # Init SparkSession

d1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]

cols = ['ID', 'salary', 'department']
df1 = spark.createDataFrame(d1, cols)

df1.show()

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [4]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('join_example').getOrCreate()

# first DataFrame
d1 = [("1", "sravan", "company 1"),
      ("2", "ojaswi", "company 1"),
      ("3", "rohith", "company 2"),
      ("4", "sridevi", "company 1"),
      ("5", "bobby", "company 1")]
cols1 = ['id', 'name', 'company']
df1 = spark.createDataFrame(d1, cols1)

# second DataFrame
d2 = [("1", "45000", "IT"),
      ("2", "145000", "Manager"),
      ("6", "45000", "HR"),
      ("5", "34000", "Sales")]
cols2 = ['id', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.id == df2.id,'inner').show()

25/12/04 08:39:10 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---+------+---------+---+------+----------+
| id|  name|  company| id|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [10]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# second dataframe data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "outer").show()

# df2.join(df1, df1.ID == df2.ID, "outer").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [9]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# second dataframe data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "full").show()

# df2.join(df1, df1.ID == df2.ID, "full").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [11]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# First dataframe data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Second dataframe data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "fullouter").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [12]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# First dataframe data
d1 = [["1", "sravan", "company 1"], 
      ["2", "ojaswi", "company 1"], 
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"], 
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Second dataframe data
d2 = [["1", "45000", "IT"], 
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "left").show()

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|NULL|  NULL|      NULL|
|  4|sridevi|company 1|NULL|  NULL|      NULL|
|  5|  bobby|company 1|   5| 34000|     Sales|
+---+-------+---------+----+------+----------+

In [13]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# second dataframe
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "leftouter").show()

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|NULL|  NULL|      NULL|
|  4|sridevi|company 1|NULL|  NULL|      NULL|
|  5|  bobby|company 1|   5| 34000|     Sales|
+---+-------+---------+----+------+----------+

In [14]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# Data for left dataframe
d1 = [["1", "sravan", "company 1"], 
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Data for right dataframe
d2 = [["1", "45000", "IT"], 
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "right").show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|NULL|  NULL|     NULL|  6| 45000|        HR|
|   5| bobby|company 1|  5| 34000|     Sales|
+----+------+---------+---+------+----------+

In [15]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe data and columns
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
col1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, col1)

# second dataframe data and columns
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
col2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, col2)

df1.join(df2, df1.ID == df2.ID, "rightouter").show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|NULL|  NULL|     NULL|  6| 45000|        HR|
|   5| bobby|company 1|  5| 34000|     Sales|
+----+------+---------+---+------+----------+

In [16]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# employee data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"], 
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# salary & department data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "leftsemi").show()

+---+------+---------+
| ID|  NAME|  Company|
+---+------+---------+
|  1|sravan|company 1|
|  2|ojaswi|company 1|
|  5| bobby|company 1|
+---+------+---------+

In [17]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
col1 = ['ID', 'NAME', 'COMPANY']
df1 = spark.createDataFrame(d1, col1)

d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
col2 = ['ID', 'SALARY', 'DEPT']
df2 = spark.createDataFrame(d2, col2)

df1.join(df2, df1.ID == df2.ID, "leftanti").show()

+---+-------+---------+
| ID|   NAME|  COMPANY|
+---+-------+---------+
|  3| rohith|company 2|
|  4|sridevi|company 1|
+---+-------+---------+

In [18]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
col1 = ['ID', 'NAME', 'COMPANY']
df1 = spark.createDataFrame(d1, col1)

d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
col2 = ['ID', 'SALARY', 'DEPT']
df2 = spark.createDataFrame(d2, col2)

# Create temp views
df1.createOrReplaceTempView("student")
df2.createOrReplaceTempView("department")

# SQL join on ID
spark.sql("""
    SELECT * FROM student
    JOIN department
    ON student.ID = department.ID
""").show()

+---+------+---------+---+------+-------+
| ID|  NAME|  COMPANY| ID|SALARY|   DEPT|
+---+------+---------+---+------+-------+
|  1|sravan|company 1|  1| 45000|     IT|
|  2|ojaswi|company 1|  2|145000|Manager|
|  5| bobby|company 1|  5| 34000|  Sales|
+---+------+---------+---+------+-------+

In [19]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# employee data
data = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"],
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"],
        ["5", "bobby", "company 1"]]
cols = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(data, cols)

# salary data
data1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]
cols1 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(data1, cols1)

# create temp views
df1.createOrReplaceTempView("student")
df2.createOrReplaceTempView("department")

# SQL inner join on ID
spark.sql("SELECT * FROM student INNER JOIN department ON student.ID == department.ID").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [20]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# employee data
data = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"],
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"],
        ["5", "bobby", "company 1"]]
cols = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(data, cols)

# salary data
data1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]
cols1 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(data1, cols1)

# create temp views
df1.createOrReplaceTempView("student")
df2.createOrReplaceTempView("department")

# SQL inner join on ID
spark.sql("""
            SELECT * 
            FROM student
            ,department 
            WHERE student.ID == department.ID
          """).show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [21]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"), (3, "bobby")]

# specify column names
columns = ['ID1', 'NAME1']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

dataframe.show()

+---+------+
|ID1| NAME1|
+---+------+
|  1|sravan|
|  2|ojsawi|
|  3| bobby|
+---+------+

In [22]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"),
        (3, "bobby"),
        (4, "rohith"), (5, "gnanesh")]

# specify column names
columns = ['ID2', 'NAME2']

# creating a dataframe from the lists of data
dataframe1 = spark.createDataFrame(data, columns)

dataframe1.show()

+---+-------+
|ID2|  NAME2|
+---+-------+
|  1| sravan|
|  2| ojsawi|
|  3|  bobby|
|  4| rohith|
|  5|gnanesh|
+---+-------+

In [23]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"), (3, "bobby")]

# specify column names
columns = ['ID1', 'NAME1']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"), (3, "bobby"),
        (4, "rohith"), (5, "gnanesh")]

# specify column names
columns = ['ID2', 'NAME2']

# creating a dataframe from the lists of data
dataframe1 = spark.createDataFrame(data, columns)

# join based on ID and name column
dataframe.join(dataframe1, (dataframe.ID1 == dataframe1.ID2)
               & (dataframe.NAME1 == dataframe1.NAME2)).show()

+---+------+---+------+
|ID1| NAME1|ID2| NAME2|
+---+------+---+------+
|  1|sravan|  1|sravan|
|  2|ojsawi|  2|ojsawi|
|  3| bobby|  3| bobby|
+---+------+---+------+

In [24]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"), (3, "bobby")]

# specify column names
columns = ['ID1', 'NAME1']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

# list  of employee data
data = [(1, "sravan"), (2, "ojsawi"), (3, "bobby"),
        (4, "rohith"), (5, "gnanesh")]

# specify column names
columns = ['ID2', 'NAME2']

# creating a dataframe from the lists of data
dataframe1 = spark.createDataFrame(data, columns)

# join based on ID and name column
dataframe.join(dataframe1, (dataframe.ID1 == dataframe1.ID2)
               | (dataframe.NAME1 == dataframe1.NAME2)).show()

+---+------+---+------+
|ID1| NAME1|ID2| NAME2|
+---+------+---+------+
|  1|sravan|  1|sravan|
|  2|ojsawi|  2|ojsawi|
|  3| bobby|  3| bobby|
+---+------+---+------+